<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.FoodAdditiveMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.FoodAdditive">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="my_id" jdbcType="VARCHAR" property="myId" />
    <result column="cert_code" jdbcType="VARCHAR" property="certCode" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="homt_address" jdbcType="VARCHAR" property="homtAddress" />
    <result column="product_address" jdbcType="VARCHAR" property="productAddress" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="lussing_time" jdbcType="VARCHAR" property="lussingTime" />
    <result column="term_of_validity" jdbcType="VARCHAR" property="termOfValidity" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="reporting_department" jdbcType="VARCHAR" property="reportingDepartment" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from food_additive
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.FoodAdditive">
    insert into food_additive (id, gmt_create, gmt_modify, 
      is_deleted, my_id, cert_code, 
      province, enterprise_name, product_name, 
      homt_address, product_address, details, 
      lussing_time, term_of_validity, explain, 
      reporting_department, remark)
    values (#{id,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER}, #{myId,jdbcType=VARCHAR}, #{certCode,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{enterpriseName,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{homtAddress,jdbcType=VARCHAR}, #{productAddress,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, 
      #{lussingTime,jdbcType=VARCHAR}, #{termOfValidity,jdbcType=VARCHAR}, #{explain,jdbcType=VARCHAR}, 
      #{reportingDepartment,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.FoodAdditive">
    update food_additive
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      my_id = #{myId,jdbcType=VARCHAR},
      cert_code = #{certCode,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      homt_address = #{homtAddress,jdbcType=VARCHAR},
      product_address = #{productAddress,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      lussing_time = #{lussingTime,jdbcType=VARCHAR},
      term_of_validity = #{termOfValidity,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR},
      reporting_department = #{reportingDepartment,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modify, is_deleted, my_id, cert_code, province, enterprise_name, 
    product_name, homt_address, product_address, details, lussing_time, term_of_validity, 
    explain, reporting_department, remark
    from food_additive
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modify, is_deleted, my_id, cert_code, province, enterprise_name, 
    product_name, homt_address, product_address, details, lussing_time, term_of_validity, 
    explain, reporting_department, remark
    from food_additive
  </select>
</mapper>