<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TBasePicMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TBasePic">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="UID" jdbcType="VARCHAR" property="uid" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_base_pic
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TBasePic">
    insert into t_base_pic (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      URL, NAME, UID, ITEMID, 
      STATUS)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{itemid,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TBasePic">
    update t_base_pic
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      UID = #{uid,jdbcType=VARCHAR},
      ITEMID = #{itemid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, URL, NAME, 
    UID, ITEMID, STATUS
    from t_base_pic
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, URL, NAME, 
    UID, ITEMID, STATUS
    from t_base_pic
  </select>
</mapper>