<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TFoodMaterialMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TFoodMaterial">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="MATCODE" jdbcType="VARCHAR" property="matcode" />
    <result column="MATNAME" jdbcType="VARCHAR" property="matname" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="ISNODE" jdbcType="VARCHAR" property="isnode" />
    <result column="MATTYPE" jdbcType="INTEGER" property="mattype" />
    <result column="UNITID" jdbcType="VARCHAR" property="unitid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_food_material
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TFoodMaterial">
    insert into t_food_material (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      MATCODE, MATNAME, PARENTID, 
      ISNODE, MATTYPE, UNITID
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{matcode,jdbcType=VARCHAR}, #{matname,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{isnode,jdbcType=VARCHAR}, #{mattype,jdbcType=INTEGER}, #{unitid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TFoodMaterial">
    update t_food_material
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      MATCODE = #{matcode,jdbcType=VARCHAR},
      MATNAME = #{matname,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      ISNODE = #{isnode,jdbcType=VARCHAR},
      MATTYPE = #{mattype,jdbcType=INTEGER},
      UNITID = #{unitid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, MATCODE, 
    MATNAME, PARENTID, ISNODE, MATTYPE, UNITID
    from t_food_material
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, MATCODE, 
    MATNAME, PARENTID, ISNODE, MATTYPE, UNITID
    from t_food_material
  </select>
</mapper>