<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TFoodMenuMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TFoodMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="MENUSERIAL" jdbcType="VARCHAR" property="menuserial" />
    <result column="SKUTYPE" jdbcType="VARCHAR" property="skutype" />
    <result column="SKUTYPENAME" jdbcType="VARCHAR" property="skutypename" />
    <result column="MENUDATE" jdbcType="VARCHAR" property="menudate" />
    <result column="MENUPERIOD" jdbcType="VARCHAR" property="menuperiod" />
    <result column="MENUSTARTTIME" jdbcType="TIMESTAMP" property="menustarttime" />
    <result column="MENUENDTIME" jdbcType="TIMESTAMP" property="menuendtime" />
    <result column="STATUSTEXT" jdbcType="VARCHAR" property="statustext" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="OFF" jdbcType="VARCHAR" property="off" />
    <result column="MENUNAME" jdbcType="VARCHAR" property="menuname" />
    <result column="SKUFROM" jdbcType="VARCHAR" property="skufrom" />
    <result column="SKUFOR" jdbcType="VARCHAR" property="skufor" />
    <result column="SKUFORNAME" jdbcType="VARCHAR" property="skuforname" />
    <result column="MENUDATETEXT" jdbcType="VARCHAR" property="menudatetext" />
    <result column="MENUPERIODTEXT" jdbcType="VARCHAR" property="menuperiodtext" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_food_menu
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TFoodMenu">
    insert into t_food_menu (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      SKUID, MENUSERIAL, SKUTYPE, 
      SKUTYPENAME, MENUDATE, MENUPERIOD, 
      MENUSTARTTIME, MENUENDTIME, STATUSTEXT, 
      STATUS, PRICE, OFF, 
      MENUNAME, SKUFROM, SKUFOR, 
      SKUFORNAME, MENUDATETEXT, MENUPERIODTEXT
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{skuid,jdbcType=VARCHAR}, #{menuserial,jdbcType=VARCHAR}, #{skutype,jdbcType=VARCHAR}, 
      #{skutypename,jdbcType=VARCHAR}, #{menudate,jdbcType=VARCHAR}, #{menuperiod,jdbcType=VARCHAR}, 
      #{menustarttime,jdbcType=TIMESTAMP}, #{menuendtime,jdbcType=TIMESTAMP}, #{statustext,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, #{off,jdbcType=VARCHAR}, 
      #{menuname,jdbcType=VARCHAR}, #{skufrom,jdbcType=VARCHAR}, #{skufor,jdbcType=VARCHAR}, 
      #{skuforname,jdbcType=VARCHAR}, #{menudatetext,jdbcType=VARCHAR}, #{menuperiodtext,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TFoodMenu">
    update t_food_menu
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      SKUID = #{skuid,jdbcType=VARCHAR},
      MENUSERIAL = #{menuserial,jdbcType=VARCHAR},
      SKUTYPE = #{skutype,jdbcType=VARCHAR},
      SKUTYPENAME = #{skutypename,jdbcType=VARCHAR},
      MENUDATE = #{menudate,jdbcType=VARCHAR},
      MENUPERIOD = #{menuperiod,jdbcType=VARCHAR},
      MENUSTARTTIME = #{menustarttime,jdbcType=TIMESTAMP},
      MENUENDTIME = #{menuendtime,jdbcType=TIMESTAMP},
      STATUSTEXT = #{statustext,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      PRICE = #{price,jdbcType=VARCHAR},
      OFF = #{off,jdbcType=VARCHAR},
      MENUNAME = #{menuname,jdbcType=VARCHAR},
      SKUFROM = #{skufrom,jdbcType=VARCHAR},
      SKUFOR = #{skufor,jdbcType=VARCHAR},
      SKUFORNAME = #{skuforname,jdbcType=VARCHAR},
      MENUDATETEXT = #{menudatetext,jdbcType=VARCHAR},
      MENUPERIODTEXT = #{menuperiodtext,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, SKUID, MENUSERIAL, 
    SKUTYPE, SKUTYPENAME, MENUDATE, MENUPERIOD, MENUSTARTTIME, MENUENDTIME, STATUSTEXT, 
    STATUS, PRICE, OFF, MENUNAME, SKUFROM, SKUFOR, SKUFORNAME, MENUDATETEXT, MENUPERIODTEXT
    from t_food_menu
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, SKUID, MENUSERIAL, 
    SKUTYPE, SKUTYPENAME, MENUDATE, MENUPERIOD, MENUSTARTTIME, MENUENDTIME, STATUSTEXT, 
    STATUS, PRICE, OFF, MENUNAME, SKUFROM, SKUFOR, SKUFORNAME, MENUDATETEXT, MENUPERIODTEXT
    from t_food_menu
  </select>
</mapper>