<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TOrderAddressMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TOrderAddress">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="OPENID" jdbcType="VARCHAR" property="openid" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="ISDEFAULT" jdbcType="VARCHAR" property="isdefault" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order_address
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TOrderAddress">
    insert into t_order_address (ID, GMTCREATE, GMTMODIFIED, 
      NAMECREATE, NAMEMODIFIED, ISDELETED, 
      OPENID, ADDRESS, NAME, 
      TEL, ISDEFAULT)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, #{isdeleted,jdbcType=INTEGER}, 
      #{openid,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{isdefault,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TOrderAddress">
    update t_order_address
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      OPENID = #{openid,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      ISDEFAULT = #{isdefault,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, NAMECREATE, NAMEMODIFIED, ISDELETED, OPENID, ADDRESS, 
    NAME, TEL, ISDEFAULT
    from t_order_address
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, NAMECREATE, NAMEMODIFIED, ISDELETED, OPENID, ADDRESS, 
    NAME, TEL, ISDEFAULT
    from t_order_address
  </select>
</mapper>