<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TRolepermissionMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TRolepermission">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <result column="PERMID" jdbcType="VARCHAR" property="permid" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_rolepermission
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TRolepermission">
    insert into t_rolepermission (ID, ROLEID, PERMID, 
      GMTCREATE, GMTMODIFIED, NAMECREATE, 
      NAMEMODIFIED, ISDELETED)
    values (#{id,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{permid,jdbcType=VARCHAR}, 
      #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, #{namecreate,jdbcType=VARCHAR}, 
      #{namemodified,jdbcType=VARCHAR}, #{isdeleted,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TRolepermission">
    update t_rolepermission
    set ROLEID = #{roleid,jdbcType=VARCHAR},
      PERMID = #{permid,jdbcType=VARCHAR},
      GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      ISDELETED = #{isdeleted,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, ROLEID, PERMID, GMTCREATE, GMTMODIFIED, NAMECREATE, NAMEMODIFIED, ISDELETED
    from t_rolepermission
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ROLEID, PERMID, GMTCREATE, GMTMODIFIED, NAMECREATE, NAMEMODIFIED, ISDELETED
    from t_rolepermission
  </select>
</mapper>