<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TSkintestdrugMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TSkintestdrug">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="DRUGID" jdbcType="VARCHAR" property="drugid" />
    <result column="DRUGNAME" jdbcType="VARCHAR" property="drugname" />
    <result column="DRUGCOMMNAME" jdbcType="VARCHAR" property="drugcommname" />
    <result column="BATCHNUMBER" jdbcType="VARCHAR" property="batchnumber" />
    <result column="DELAYTIME" jdbcType="VARCHAR" property="delaytime" />
    <result column="ATTENTION" jdbcType="VARCHAR" property="attention" />
    <result column="REMEDIAL" jdbcType="VARCHAR" property="remedial" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_skintestdrug
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TSkintestdrug">
    insert into t_skintestdrug (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      DRUGID, DRUGNAME, DRUGCOMMNAME, 
      BATCHNUMBER, DELAYTIME, ATTENTION, 
      REMEDIAL)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{drugid,jdbcType=VARCHAR}, #{drugname,jdbcType=VARCHAR}, #{drugcommname,jdbcType=VARCHAR}, 
      #{batchnumber,jdbcType=VARCHAR}, #{delaytime,jdbcType=VARCHAR}, #{attention,jdbcType=VARCHAR}, 
      #{remedial,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TSkintestdrug">
    update t_skintestdrug
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      DRUGID = #{drugid,jdbcType=VARCHAR},
      DRUGNAME = #{drugname,jdbcType=VARCHAR},
      DRUGCOMMNAME = #{drugcommname,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      DELAYTIME = #{delaytime,jdbcType=VARCHAR},
      ATTENTION = #{attention,jdbcType=VARCHAR},
      REMEDIAL = #{remedial,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, DRUGID, DRUGNAME, 
    DRUGCOMMNAME, BATCHNUMBER, DELAYTIME, ATTENTION, REMEDIAL
    from t_skintestdrug
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, DRUGID, DRUGNAME, 
    DRUGCOMMNAME, BATCHNUMBER, DELAYTIME, ATTENTION, REMEDIAL
    from t_skintestdrug
  </select>
</mapper>