<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TSkintestliquidMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TSkintestliquid">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="skintestPACKID" jdbcType="VARCHAR" property="skintestpackid" />
    <result column="DRUGQRCODE" jdbcType="VARCHAR" property="drugqrcode" />
    <result column="DRUGID" jdbcType="VARCHAR" property="drugid" />
    <result column="DRUGNAME" jdbcType="VARCHAR" property="drugname" />
    <result column="DELAYTIME" jdbcType="VARCHAR" property="delaytime" />
    <result column="SPECS" jdbcType="VARCHAR" property="specs" />
    <result column="ORIGIN" jdbcType="VARCHAR" property="origin" />
    <result column="BATCHNUMBER" jdbcType="VARCHAR" property="batchnumber" />
    <result column="SKINTESTRESULT" jdbcType="VARCHAR" property="skintestresult" />
    <result column="OPERATENAME" jdbcType="VARCHAR" property="operatename" />
    <result column="OPERATEWORKNUMBER" jdbcType="VARCHAR" property="operateworknumber" />
    <result column="CHECKNAME" jdbcType="VARCHAR" property="checkname" />
    <result column="CHECKWORKNUMBER" jdbcType="VARCHAR" property="checkworknumber" />
    <result column="STARTAT" jdbcType="TIMESTAMP" property="startat" />
    <result column="FINISHAT" jdbcType="TIMESTAMP" property="finishat" />
    <result column="DRUGCOMMNAME" jdbcType="VARCHAR" property="drugcommname" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_skintestliquid
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TSkintestliquid">
    insert into t_skintestliquid (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      skintestPACKID, DRUGQRCODE, DRUGID, 
      DRUGNAME, DELAYTIME, SPECS, 
      ORIGIN, BATCHNUMBER, SKINTESTRESULT, 
      OPERATENAME, OPERATEWORKNUMBER, CHECKNAME, 
      CHECKWORKNUMBER, STARTAT, FINISHAT, 
      DRUGCOMMNAME, STATUS)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{skintestpackid,jdbcType=VARCHAR}, #{drugqrcode,jdbcType=VARCHAR}, #{drugid,jdbcType=VARCHAR}, 
      #{drugname,jdbcType=VARCHAR}, #{delaytime,jdbcType=VARCHAR}, #{specs,jdbcType=VARCHAR}, 
      #{origin,jdbcType=VARCHAR}, #{batchnumber,jdbcType=VARCHAR}, #{skintestresult,jdbcType=VARCHAR}, 
      #{operatename,jdbcType=VARCHAR}, #{operateworknumber,jdbcType=VARCHAR}, #{checkname,jdbcType=VARCHAR}, 
      #{checkworknumber,jdbcType=VARCHAR}, #{startat,jdbcType=TIMESTAMP}, #{finishat,jdbcType=TIMESTAMP}, 
      #{drugcommname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TSkintestliquid">
    update t_skintestliquid
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      skintestPACKID = #{skintestpackid,jdbcType=VARCHAR},
      DRUGQRCODE = #{drugqrcode,jdbcType=VARCHAR},
      DRUGID = #{drugid,jdbcType=VARCHAR},
      DRUGNAME = #{drugname,jdbcType=VARCHAR},
      DELAYTIME = #{delaytime,jdbcType=VARCHAR},
      SPECS = #{specs,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      SKINTESTRESULT = #{skintestresult,jdbcType=VARCHAR},
      OPERATENAME = #{operatename,jdbcType=VARCHAR},
      OPERATEWORKNUMBER = #{operateworknumber,jdbcType=VARCHAR},
      CHECKNAME = #{checkname,jdbcType=VARCHAR},
      CHECKWORKNUMBER = #{checkworknumber,jdbcType=VARCHAR},
      STARTAT = #{startat,jdbcType=TIMESTAMP},
      FINISHAT = #{finishat,jdbcType=TIMESTAMP},
      DRUGCOMMNAME = #{drugcommname,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, skintestPACKID, 
    DRUGQRCODE, DRUGID, DRUGNAME, DELAYTIME, SPECS, ORIGIN, BATCHNUMBER, SKINTESTRESULT, 
    OPERATENAME, OPERATEWORKNUMBER, CHECKNAME, CHECKWORKNUMBER, STARTAT, FINISHAT, DRUGCOMMNAME, 
    STATUS
    from t_skintestliquid
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, skintestPACKID, 
    DRUGQRCODE, DRUGID, DRUGNAME, DELAYTIME, SPECS, ORIGIN, BATCHNUMBER, SKINTESTRESULT, 
    OPERATENAME, OPERATEWORKNUMBER, CHECKNAME, CHECKWORKNUMBER, STARTAT, FINISHAT, DRUGCOMMNAME, 
    STATUS
    from t_skintestliquid
  </select>
</mapper>