<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TUserProfileMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TUserProfile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="OPENID" jdbcType="VARCHAR" property="openid" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="CARDNUMBER" jdbcType="VARCHAR" property="cardnumber" />
    <result column="USERTYPE" jdbcType="INTEGER" property="usertype" />
    <result column="WXNAME" jdbcType="VARCHAR" property="wxname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user_profile
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TUserProfile">
    insert into t_user_profile (ID, GMTCREATE, NAMECREATE, 
      GMTMODIFIED, NAMEMODIFIED, ISDELETED, 
      USERID, REALNAME, BIRTHDAY, 
      SEX, TELEPHONE, EMAIL, 
      OPENID, PASSWORD, IDCARD, 
      CARDNUMBER, USERTYPE, WXNAME
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{namecreate,jdbcType=VARCHAR}, 
      #{gmtmodified,jdbcType=TIMESTAMP}, #{namemodified,jdbcType=VARCHAR}, #{isdeleted,jdbcType=INTEGER}, 
      #{userid,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{cardnumber,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, #{wxname,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TUserProfile">
    update t_user_profile
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      USERID = #{userid,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      OPENID = #{openid,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      IDCARD = #{idcard,jdbcType=VARCHAR},
      CARDNUMBER = #{cardnumber,jdbcType=VARCHAR},
      USERTYPE = #{usertype,jdbcType=INTEGER},
      WXNAME = #{wxname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, NAMECREATE, GMTMODIFIED, NAMEMODIFIED, ISDELETED, USERID, REALNAME, 
    BIRTHDAY, SEX, TELEPHONE, EMAIL, OPENID, PASSWORD, IDCARD, CARDNUMBER, USERTYPE, 
    WXNAME
    from t_user_profile
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, NAMECREATE, GMTMODIFIED, NAMEMODIFIED, ISDELETED, USERID, REALNAME, 
    BIRTHDAY, SEX, TELEPHONE, EMAIL, OPENID, PASSWORD, IDCARD, CARDNUMBER, USERTYPE, 
    WXNAME
    from t_user_profile
  </select>
</mapper>