<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TWmsProviderMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TWmsProvider">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="PROVIDERNAME" jdbcType="VARCHAR" property="providername" />
    <result column="PROVIDERCONTACT" jdbcType="VARCHAR" property="providercontact" />
    <result column="PROVIDERTEL" jdbcType="VARCHAR" property="providertel" />
    <result column="PROVIDEREMAIL" jdbcType="VARCHAR" property="provideremail" />
    <result column="PROVIDERADDR" jdbcType="VARCHAR" property="provideraddr" />
    <result column="PROVIDERNO" jdbcType="VARCHAR" property="providerno" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wms_provider
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TWmsProvider">
    insert into t_wms_provider (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      PROVIDERNAME, PROVIDERCONTACT, PROVIDERTEL, 
      PROVIDEREMAIL, PROVIDERADDR, PROVIDERNO
      )
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{providername,jdbcType=VARCHAR}, #{providercontact,jdbcType=VARCHAR}, #{providertel,jdbcType=VARCHAR}, 
      #{provideremail,jdbcType=VARCHAR}, #{provideraddr,jdbcType=VARCHAR}, #{providerno,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TWmsProvider">
    update t_wms_provider
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      PROVIDERNAME = #{providername,jdbcType=VARCHAR},
      PROVIDERCONTACT = #{providercontact,jdbcType=VARCHAR},
      PROVIDERTEL = #{providertel,jdbcType=VARCHAR},
      PROVIDEREMAIL = #{provideremail,jdbcType=VARCHAR},
      PROVIDERADDR = #{provideraddr,jdbcType=VARCHAR},
      PROVIDERNO = #{providerno,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, PROVIDERNAME, 
    PROVIDERCONTACT, PROVIDERTEL, PROVIDEREMAIL, PROVIDERADDR, PROVIDERNO
    from t_wms_provider
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, PROVIDERNAME, 
    PROVIDERCONTACT, PROVIDERTEL, PROVIDEREMAIL, PROVIDERADDR, PROVIDERNO
    from t_wms_provider
  </select>
</mapper>