<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TWmsInbounddetailMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TWmsInbounddetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="IBID" jdbcType="VARCHAR" property="ibid" />
    <result column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="PLANQUANTITY" jdbcType="VARCHAR" property="planquantity" />
    <result column="QUANTITY" jdbcType="VARCHAR" property="quantity" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="SKUNAME" jdbcType="VARCHAR" property="skuname" />
    <result column="NEWSKU" jdbcType="INTEGER" property="newsku" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wms_inbounddetail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TWmsInbounddetail">
    insert into t_wms_inbounddetail (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      IBID, SKUID, PLANQUANTITY, 
      QUANTITY, UNIT, STORAGEID, 
      SKUNAME, NEWSKU)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{ibid,jdbcType=VARCHAR}, #{skuid,jdbcType=VARCHAR}, #{planquantity,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{storageid,jdbcType=VARCHAR}, 
      #{skuname,jdbcType=VARCHAR}, #{newsku,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TWmsInbounddetail">
    update t_wms_inbounddetail
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      IBID = #{ibid,jdbcType=VARCHAR},
      SKUID = #{skuid,jdbcType=VARCHAR},
      PLANQUANTITY = #{planquantity,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      STORAGEID = #{storageid,jdbcType=VARCHAR},
      SKUNAME = #{skuname,jdbcType=VARCHAR},
      NEWSKU = #{newsku,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, IBID, SKUID, 
    PLANQUANTITY, QUANTITY, UNIT, STORAGEID, SKUNAME, NEWSKU
    from t_wms_inbounddetail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, IBID, SKUID, 
    PLANQUANTITY, QUANTITY, UNIT, STORAGEID, SKUNAME, NEWSKU
    from t_wms_inbounddetail
  </select>
</mapper>