<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TWmsInventorybasedetailMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TWmsInventorybasedetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="ITID" jdbcType="VARCHAR" property="itid" />
    <result column="QUANTITY" jdbcType="VARCHAR" property="quantity" />
    <result column="REALQUANTITY" jdbcType="VARCHAR" property="realquantity" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wms_inventorybasedetail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TWmsInventorybasedetail">
    insert into t_wms_inventorybasedetail (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      ITID, QUANTITY, REALQUANTITY, 
      STORAGEID)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{itid,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}, #{realquantity,jdbcType=VARCHAR}, 
      #{storageid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TWmsInventorybasedetail">
    update t_wms_inventorybasedetail
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      ITID = #{itid,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=VARCHAR},
      REALQUANTITY = #{realquantity,jdbcType=VARCHAR},
      STORAGEID = #{storageid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, ITID, QUANTITY, 
    REALQUANTITY, STORAGEID
    from t_wms_inventorybasedetail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, ITID, QUANTITY, 
    REALQUANTITY, STORAGEID
    from t_wms_inventorybasedetail
  </select>
</mapper>