<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TWmsOutbounddetailMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TWmsOutbounddetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="OBID" jdbcType="VARCHAR" property="obid" />
    <result column="STORAGECONTANTID" jdbcType="VARCHAR" property="storagecontantid" />
    <result column="PLANQUANTITY" jdbcType="VARCHAR" property="planquantity" />
    <result column="QUANTITY" jdbcType="VARCHAR" property="quantity" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="SKUNAME" jdbcType="VARCHAR" property="skuname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wms_outbounddetail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TWmsOutbounddetail">
    insert into t_wms_outbounddetail (ID, GMTCREATE, GMTMODIFIED, 
      ISDELETED, NAMECREATE, NAMEMODIFIED, 
      OBID, STORAGECONTANTID, PLANQUANTITY, 
      QUANTITY, UNIT, REMARK, 
      SKUID, SKUNAME)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{gmtmodified,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=INTEGER}, #{namecreate,jdbcType=VARCHAR}, #{namemodified,jdbcType=VARCHAR}, 
      #{obid,jdbcType=VARCHAR}, #{storagecontantid,jdbcType=VARCHAR}, #{planquantity,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{skuid,jdbcType=VARCHAR}, #{skuname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TWmsOutbounddetail">
    update t_wms_outbounddetail
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      OBID = #{obid,jdbcType=VARCHAR},
      STORAGECONTANTID = #{storagecontantid,jdbcType=VARCHAR},
      PLANQUANTITY = #{planquantity,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      SKUID = #{skuid,jdbcType=VARCHAR},
      SKUNAME = #{skuname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, OBID, STORAGECONTANTID, 
    PLANQUANTITY, QUANTITY, UNIT, REMARK, SKUID, SKUNAME
    from t_wms_outbounddetail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, GMTMODIFIED, ISDELETED, NAMECREATE, NAMEMODIFIED, OBID, STORAGECONTANTID, 
    PLANQUANTITY, QUANTITY, UNIT, REMARK, SKUID, SKUNAME
    from t_wms_outbounddetail
  </select>
</mapper>