<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.mapper.TWmsMenuMapper">
  <resultMap id="BaseResultMap" type="cn.xydata.entity.TWmsMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMTCREATE" jdbcType="TIMESTAMP" property="gmtcreate" />
    <result column="NAMECREATE" jdbcType="VARCHAR" property="namecreate" />
    <result column="GMTMODIFIED" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="NAMEMODIFIED" jdbcType="VARCHAR" property="namemodified" />
    <result column="ISDELETED" jdbcType="INTEGER" property="isdeleted" />
    <result column="WMSID" jdbcType="VARCHAR" property="wmsid" />
    <result column="MENUSERIAL" jdbcType="VARCHAR" property="menuserial" />
    <result column="MENUNAME" jdbcType="VARCHAR" property="menuname" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wms_menu
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xydata.entity.TWmsMenu">
    insert into t_wms_menu (ID, GMTCREATE, NAMECREATE, 
      GMTMODIFIED, NAMEMODIFIED, ISDELETED, 
      WMSID, MENUSERIAL, MENUNAME, 
      PRICE, STATUS)
    values (#{id,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=TIMESTAMP}, #{namecreate,jdbcType=VARCHAR}, 
      #{gmtmodified,jdbcType=TIMESTAMP}, #{namemodified,jdbcType=VARCHAR}, #{isdeleted,jdbcType=INTEGER}, 
      #{wmsid,jdbcType=VARCHAR}, #{menuserial,jdbcType=VARCHAR}, #{menuname,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xydata.entity.TWmsMenu">
    update t_wms_menu
    set GMTCREATE = #{gmtcreate,jdbcType=TIMESTAMP},
      NAMECREATE = #{namecreate,jdbcType=VARCHAR},
      GMTMODIFIED = #{gmtmodified,jdbcType=TIMESTAMP},
      NAMEMODIFIED = #{namemodified,jdbcType=VARCHAR},
      ISDELETED = #{isdeleted,jdbcType=INTEGER},
      WMSID = #{wmsid,jdbcType=VARCHAR},
      MENUSERIAL = #{menuserial,jdbcType=VARCHAR},
      MENUNAME = #{menuname,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, GMTCREATE, NAMECREATE, GMTMODIFIED, NAMEMODIFIED, ISDELETED, WMSID, MENUSERIAL, 
    MENUNAME, PRICE, STATUS
    from t_wms_menu
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GMTCREATE, NAMECREATE, GMTMODIFIED, NAMEMODIFIED, ISDELETED, WMSID, MENUSERIAL, 
    MENUNAME, PRICE, STATUS
    from t_wms_menu
  </select>
</mapper>